# put this in /etc/systemd/system/yt_downloader.service
# sudo systemctl daemon-reload
# sudo systemctl enable yt_downloader.service
# sudo systemctl start yt_downloader.service

# Check the status
# sudo systemctl status yt_downloader.service

[Unit]
Description=YouTube Transcript Processor Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/magnetmanager
ExecStart=/home/pi/magnetmanager/venv/bin/python /home/pi/magnetmanager/yt_downloader.py redis://magnetmanager:L8pg8qYVTJWW@134.209.117.57:6379/2
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=file:/home/pi/magnetmanager/output_logfile.log
StandardError=file:/home/pi/magnetmanager/error_logfile.log

[Install]
WantedBy=multi-user.target
